html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*::before {
  box-sizing: inherit;
}
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  max-width: 1920px;
  min-width: 300px;
}

.main {
  width: 100%;
}

* a {
  text-decoration: none;
}
* a:active {
  text-decoration: none;
}
* a:visited {
  text-decoration: none;
}
* a:link {
  text-decoration: none;
}
* a:hover {
  text-decoration: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

.font-titres {
  font-family: "Shrikhand", cursive;
}

.puce-num {
  width: 2rem;
  height: 2rem;
  font-size: 1.1666666667rem;
  background-color: rgb(147, 86, 220);
  border-top-left-radius: 0.8333333333rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
}

.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__back {
  height: 20px;
  width: 30px;
  position: absolute;
  top: 25px;
  left: 23px;
  visibility: hidden;
}
.header__back.visible {
  visibility: visible;
}
.header__back i {
  font-size: 1.5rem;
  font-weight: bold;
  color: #353535;
}
.header__logo {
  width: 166px;
  height: 30px;
  position: absolute;
  top: 22px;
}
.header__logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.rest {
  width: 100%;
  background-color: #f6f6f6;
}

.pres {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.pres__ville {
  width: 100%;
  height: 4.1666666667rem;
  background: linear-gradient(rgb(207, 207, 207) 0%, rgb(234, 234, 234) 12%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3rem;
}
.pres__ville > i {
  font-size: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  width: 2.3rem;
  padding-right: 0.5rem;
  text-align: right;
}
.pres__ville > span {
  font-size: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  width: 13rem;
  padding-left: 0.7rem;
  text-align: left;
}
.pres__reserv {
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 3.3333333333rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  /*
          @include tablette {
              display: flex;
              flex-flow: raw wrap;
              justify-content: center;
              align-items: flex-start;
          }

          @include ordinateur {
              display: flex;
              flex-flow: raw wrap;
              justify-content: center;
              align-items: flex-start;
          }
  */
}
.pres__reserv--titre {
  width: 100%;
  /*
              @include tablette {
                                  width: 50%;
              }

              @include ordinateur {
                                  width: 50%;
              }
  */
  height: 4.1666666667rem;
  padding: 0 5.3333333333rem 0 4.1666666667rem;
  font-size: 1.8333333333rem;
  font-weight: bolder;
  text-align: center;
  word-spacing: 60%;
  line-height: 1.2;
  margin: 0;
}
.pres__reserv--soustitre {
  width: 100%;
  height: 5.3333333333rem;
  padding: 1.5rem 2.0833333333rem 0 2.9166666667rem;
  font-size: 1.5rem;
  font-weight: normal;
  color: #353535;
  text-align: center;
  margin: 0;
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pres__reserv--soustitre {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .pres__reserv--soustitre {
    width: 50%;
  }
}
.pres__reserv--btn {
  width: 18.1666666667rem;
  height: 4.1666666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 2.0833333333rem;
  border-top-right-radius: 2.0833333333rem;
  border-bottom-left-radius: 2.0833333333rem;
  border-top-left-radius: 2.0833333333rem;
  background: #888;
  color: #fff;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  padding-left: 0.4166666667rem;
  padding-bottom: 0.25rem;
  box-shadow: 0 0.5rem 0.5rem #c5c5c5;
  margin-bottom: 4.6666666667rem;
}
.pres__reserv--btn > p {
  color: #fff;
  font-size: 1.3333333333rem;
}

.fonc {
  width: 100%;
  background-color: #fff;
  padding: 0 1.6666666667rem;
}
.fonc__titre {
  width: 100%;
  height: 6.3333333333rem;
  background: #f6f6f6;
  margin-bottom: 1.6666666667rem;
}
.fonc__carte1 {
  width: 100%;
  height: 6.3333333333rem;
  background: #f6f6f6;
  margin-bottom: 1.6666666667rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.fonc__carte1 span {
  display: inline-block;
}
.fonc__carte2 {
  width: 100%;
  height: 6.3333333333rem;
  background: #f6f6f6;
  margin-bottom: 1.6666666667rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.fonc__carte2 span {
  display: inline-block;
}
.fonc__carte3 {
  width: 100%;
  height: 6.3333333333rem;
  background: #f6f6f6;
  margin-bottom: 1.6666666667rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.fonc__carte3 span {
  display: inline-block;
}

/*# sourceMappingURL=styles.css.map */
