@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";

@import "../base/norme";
@import "../base/typography";

@import "../components/btn";
@import "../components/cards";
@import "../components/puces";
@import "../components/loading-spinner";

@import "../layouts/header";
@import "../layouts/footer";

@import "../pages/index.scss";
 




