/// keyframe faisant disparaitre le loading spinner
@keyframes volatilisation {

    0%,
    85% {
        transform: scaleX(1) scaleY(1);
        opacity: 0.9;

    }

    93% {
        transform: scaleX(1) scaleY(0.2);
        opacity: 0.9;
    }

    97% {
        transform: scaleX(0.2) scaleY(0.2);
        opacity: 0.9;

    }

    100% {
        transform: scaleX(0) scaleY(0);
        opacity: 0;

    }

}

/// keyframe rotation du loading spinner (sur l'élément manege)

@keyframes sens-horaire {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/// keyframe pour la rotation inverse 

@keyframes sens-anti-horaire {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

/// keyframe pour augmenter  l'opacité d'un élément au maximum 

@keyframes opacification {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/// keyframe inverse: pour rendre  un élément invisible

@keyframes invisibilisation {

    0%,
    90% {
        opacity: 1;
    }

    90%,
    100% {
        opacity: 0;
    }
}


/// loading spinner : 4 cercles en rotation autour d'un rond central 
/// avec effets de bordures, d'ombres etc. avec les couleurs  du site
.loading-land {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle,
            rgb(234, 234, 234, 1) 33%,
            rgba(234, 234, 234, 0.8) 66%,
            rgba(234, 234, 234, 0.6) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    opacity: 0.95;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transform-origin: left top;
    animation: volatilisation 3000ms forwards;
    overflow: hidden;



    & .manege {
        z-index: 3;
        background: transparent;
        width: 7vw;
        height: 7vw;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        animation: sens-horaire 1777ms linear infinite forwards;


        &__haut {
            @include spinner-haut-et-bas ($primaire) {
                border-width: 0.05vw 0.1vw 0.7vw 0.1vw;
            }
        }

        &__bas {

            @include spinner-haut-et-bas ($secondaire) {
                border-width: 0.7vw 0.1vw 0.05vw 0.1vw;
            }
        }

        &__milieu {
            width: 100%;
            height: 2vw;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            background: transparent;

            &--droite {

                @include spinner-droite-et-gauche ($primaire);
            }

            &--centre {
                border: 0.55vw dotted $primaire;
                padding: 0.25vw;
                background: $primaire;
                background-clip: padding-box;
                width: 2vw;
                height: 2vw;
                @include makeradius-pourcent("all", 50);
                animation: invisibilisation 250ms linear infinite alternate;

            }

            &--gauche {
                @include spinner-droite-et-gauche ($secondaire);
            }
        }
    }
}