/// couleurs du site
$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$tertiaire-sombre: #008766;

///  couleurs de fonts /polices
$c-soustitre : #353535;
$c-fonc-ico: #7e7e7e;
$c-ico-hover:  #9356dc; // == $bg-puce-num;



/// background
$bg-ville: #eaeaea;
$bg-rest: #f6f6f6;
$bg-fonc: #fff;
$bg-pres: #f6f6f6; // == $bg-rest;
$bg-card-fonc: #f6f6f6; // == $bg-rest;
$bg-card-fonc-hover: #f5edff;
$bg-puce-num: #9356dc;
$bg-footer: #353535; 

///autres couleurs
$c-btn-shadow: #c5c5c5;
$c-carte-shadow: #e5e5e5;


/// pour les media queries (MQ), 
/// voir leur exploitation dans les mixins
$max-mobile: 767px;
$min-tablette:768px; // = $max-mobile+1px;
$max-tablette: 991px;
$min-ordinateur: 992px; // = $max-tablette+1px;

/// taille de police par défaut pour le mobile, valeur modifiée dans les MQ, voir _typography.scss
$fontsize: 12;

/// variable loading spinner
/// couleur  primaire avec  luminosité  qui passe de 143 à 79 
/// soit hsl(179, 152, 143) ==> hsl(179, 152, 79)
$primaire-sombre: rgb(82, 31, 137);


/*** PAGES MENUS******/
/** liste des délais (animation-delay) pour les services*/
$delai-s: (
    0s,
    1s,
    2s
);
/** liste des délais du MENU (cartes)*/

$delai-m: (
    300ms,
    600ms,
    900ms,
    1300ms,
    1600ms,
    1900ms,
    2300ms,
    2600ms,
    2900ms
);


/**liste des services pour la 1ère boucle for*/
$services: (
    entree,
    plat,
    dessert
);




