.footer {
    width: 100%;

    @include tablette {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }

    @include ordinateur {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;  
    }

    height: calc(196/12)*1rem;
    background-color: $bg-footer;
    padding: calc(25/12)*1rem calc(25/12)*1rem;
    font-size: calc(16/12)*1rem;

    & a {

        color: white;

        @include tablette {
            width: 50%;
            flex-flow: row wrap;
            justify-content: center;

            &:first-of-type {
                border-top: 1px solid white;

                &+a {
                    border-top: 1px solid white;
                }
            }
        }

        @include ordinateur {
            width: 25%;
            flex-flow: row wrap;
            justify-content: center;
            border-bottom: 1px solid white;
        }

        & p {
            margin: calc(7/12)*1rem 0;
            color: white;

            @include tablette {
                padding-right: calc(20/12)*1rem;
            }

            @include ordinateur {
                padding-right: calc(20/12)*1rem;
            }
        }
    }


    &__logo {
        width: calc(100/12)*1rem;
        height: calc(20/12)*1rem;

        @include tablette {
            width: 100%;
        }

        @include ordinateur {
            width: 100%;
        }

        overflow: hidden;
        margin-bottom: calc(22/12)*1rem;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: invert(100%);
        }
    }

    &__proposer {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;

        @include tablette {
            margin: calc(7/12)*1rem 0;
        }

        @include ordinateur {
            margin: calc(7/12)*1rem 0;
        }

        &>i {
            width: calc(15/12)*1rem;
            height: calc(15/12)*1rem;
            display: inline-block;
            margin-right: calc(8/12)*1rem;
            font-size: calc(12/12)*1rem;
            text-align: center;
        }

        &>span {
            display: inline-block;
        }
    }

    &__devenir {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;

        @include tablette {
            margin: calc(7/12)*1rem 0;
        }

        @include ordinateur {
            margin: calc(7/12)*1rem 0;
        }

        &>i {
            display: inline-block;
            font-size: calc(10/12)*1rem;
            vertical-align: middle;
            width: calc(15/12)*1rem;
            height: calc(15/12)*1rem;
            margin-right: calc(8/12)*1rem;
            padding-top: calc(3/12)*1rem;
            text-align: center;
        }

        &>span {
            display: inline-block;
        }
    }

    &__mentions {
        width: 100%;
        font-weight: normal;

        @include tablette {
            margin: calc(7/12)*1rem 0;
        }

        @include ordinateur {
            margin: calc(7/12)*1rem 0;
        }
    }

    &__contact {
        width: 100%;
        font-weight: normal;

        @include tablette {
            margin: calc(7/12)*1rem 0;
        }

        @include ordinateur {
            margin: calc(7/12)*1rem 0;
        }
    }
}