.footer {
    width: 100%;
    height: calc(200/12)*1rem;
    background-color: $bg-footer;
    padding: calc(30/12)*1rem  calc(25/12)*1rem ;
    font-size: calc(16/12)*1rem;


    & a {

        color: white;

        & p {
            margin: calc(7/12)*1rem 0;
            color: white;

        }


    }


    &__logo {
        width: calc(100/12)*1rem;
        height: calc(20/12)*1rem;
        overflow: hidden;
        margin-bottom: calc(22/12)*1rem;



        &>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: invert(100%);
        }
    }

    &__proposer {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;

        &>i {
            width: calc(15/12)*1rem;
            height: calc(15/12)*1rem;
            display: inline-block;
            margin-right: calc(8/12)*1rem;
            font-size: calc(12/12)*1rem;
           // vertical-align: middle;
           text-align: center;

        }

        &>span {
            display: inline-block;
           // vertical-align: middle; 
            
        }

    }

    &__devenir {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;

        &>i {
            display: inline-block;
            font-size: calc(10/12)*1rem;
            vertical-align: middle;
            width: calc(15/12)*1rem;
            height: calc(15/12)*1rem;
            margin-right: calc(8/12)*1rem;
            padding-top: calc(3/12)*1rem;
            text-align: center;

        }

        &>span {
            display: inline-block;
          //  vertical-align: middle; ///
        }

    }

    &__mentions {
        width: 100%;
        font-weight: normal;
       // vertical-align: middle; ///
    }

    &__contact {
        width: 100%;
        font-weight: normal;
       // vertical-align: middle; ////

    }


}