/// LA PAGE D'ACCUEIL 

///section presentation / réservation
.pres {
    width: 100%;
    background-color: $bg-pres;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    &__ville {
        width: 100%;
        height: calc(50/12)*1rem;
        background: linear-gradient(rgba(207, 207, 207, 1) 0%, rgba(234, 234, 234, 1) 12%);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.3rem;

        &>i {
            font-size: 1.4rem;
            height: 1.4rem;
            display: inline-block;
            width: 2.3rem;
            padding-right: 0.5rem;
            text-align: right;
        }

        &>span {
            font-size: 1.4rem;
            height: 1.4rem;
            display: inline-block;
            width: 13rem;
            padding-left: 0.7rem;
            text-align: left;
        }

    }


    &__titre {
        width: 100%;

        height: calc(50/12)*1rem;
        font-size: calc(22/12)*1rem;
        font-weight: bolder;
        text-align: center;
        padding-right: calc(52/12)*1rem;
        padding-left: calc(38/12)*1rem;
        font-stretch: ultra-expanded;
        letter-spacing: calc(1.2/12)*1rem;
        line-height: 1.25;
        margin: calc(39/12)*1rem 0 0 0;

    }

    &__soustitre {
        width: 100%;
        height: calc(64/12)*1rem;
        font-size: calc(18/12)*1rem;
        font-weight: normal;
        color: $c-soustitre;
        text-align: center;
        margin: calc(18/12)*1rem 0 0 0;
        padding-left: calc(12/12)*1rem;

        @include tablette {
            width: 50%;

        }

        @include ordinateur {
            width: 50%;

        }

    }

    &__btn {
        @include basic-btn (218, 50, 12);
        background: linear-gradient(170deg, $secondaire, $primaire);
        padding-left: calc(4/12)*1rem;
        box-shadow: 0 calc(6/12)*1rem calc(6/12)*1rem $c-btn-shadow;
        margin-top: calc(8/12)*1rem;
        margin-bottom: calc(56/12)*1rem;
        margin-left: calc(5/12)*1rem;

        &>a {
            cursor: pointer;
            color: #fff;

            &>p {

                font-size: calc(16/12)*1rem;
            }
        }

        &:hover {

            background: linear-gradient(170deg, lighten($secondaire, 4%), lighten($primaire, 4%));
            box-shadow: 0 calc(6/12)*1rem calc(6/12)*1rem darken($c-btn-shadow, 15%);
        }
    }


}

///section fonctionnement
.fonc {
    width: 100%;
    // height: 440px;  //pour info
    background-color: $bg-fonc;
    padding: 0 calc(20/12)*1rem 0 calc(32/12)*1rem;

    &__titre {
        width: 100%;
        height: calc(70/12)*1rem;
        margin: calc(22/12)*1rem 0 calc(8/12)*1rem 0;
        padding-top: calc(10/12)*1rem;
        position: relative;
        left: calc(-12/12)*1rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        &--size {
            font-size: calc(24/12)*1rem;
            margin: 0;
            font-weight: bold;
        }
    }

    @for $i from 1 through 3 {
        &__carte#{$i} {
            width: 100%; //calc(324/12)*1rem; 375-32-20 =323  //pour info
            height: calc(78/12)*1rem;
            padding-top: calc(12/12)*1rem;
            background: linear-gradient(#fefefe 0%, $bg-card-fonc 8%);
            margin-bottom: calc(20/12)*1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            @include makeradius ("all", 19.5); // calc(78/4) == 39/2 == 19.5
            box-shadow: 0 calc(8/12)*1rem calc(8/12)*1rem $c-carte-shadow;

            &:hover {
                background: $bg-card-fonc-hover;

                & span:nth-child(2) {
                    color: $c-ico-hover;
                }
            }

            & span:nth-child(1) {
                display: inline-block;
                position: relative;
                left: calc(-12/12)*1rem;

            }

            & span:nth-child(2) {
                display: inline-block;
                margin-left: calc(10/12)*1rem;
                font-size: calc(16/12)*1rem;
                color: $c-fonc-ico;

            }

            & span:nth-child(3) {
                display: inline-block;
                margin-left: calc(20/12)*1rem;
                font-size: calc(16/12)*1rem;
                font-weight: bold;
            }

        }




    }

}





///section restaurants
.resto {
    width: 100%;
    //  height: 1226px; //pour info
    background-color: $bg-rest;
    padding: 0 calc((20 / 12)*1rem) calc((44 / 12)*1rem) calc((20 / 12)*1rem);
    margin-top: calc((66 / 12)*1rem);


    &__titre {
        width: 100%;
        height: calc(72 /12)*1rem;
        padding-top: calc(66 / 12)*1rem;
        margin-bottom: calc(34 / 12)*1rem; //
        font-size: calc(24 / 12)*1rem;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    @for $i from 1 through 4 {

        &#{$i} {
            width: 100%;
            height: calc(251/12)*1rem;
            margin-bottom: calc((18/12)*1rem);

            &__photo {
                width: 100%;
                height: calc(174/2.51)*1%;
                position: relative;

                &--illustration {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;


                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        @include makeradius ("top", 13);
                        object-position: bottom;

                        @if ($i ==2) {
                            object-position: 50% 61%;
                        }
                    }
                }

                &--message {
                    width: calc(79/12)*1rem;
                    height: calc(29/12)*1rem;
                    color: $tertiaire-sombre;
                    background-color: $tertiaire ;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: calc(14/12)*1rem;

                    @if (($i ==1) or ($i ==2)) {
                        visibility: visible;
                        z-index: 2;
                    }

                    @else {
                        visibility: hidden;
                        z-index: -1;
                    }

                    position: absolute;
                    top: calc(13/12)*1rem;
                    right: calc(13/12)*1rem;


                }



            }

            &__infos {
                width: 100%;
                height: calc(77/2.51)*1%;
                position: relative;
                background-color: #fff;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                overflow: hidden;
                margin: 0;
                padding-left: calc(10/12)*1rem;
                @include makeradius ("bottom", 13);

                &--nom {
                    width: calc(248/12)*1rem;
                    height: calc(77/24)*1rem;
                    font-size: calc(18/12)*1rem;
                    font-weight: bolder; //
                    margin: 0;
                    display: flex;
                    align-items: flex-end;

                }

                &--localisation {
                    width: calc(248/12)*1rem;
                    height: calc(77/24)*1rem;
                    font-size: calc(17/12)*1rem;
                    font-weight: normal;
                    margin: 0;
                    padding-top: calc(5/12)*1rem; //


                }

                &--jaime {
                    width: calc(77/12)*1rem;
                    height: calc(77/12)*1rem;
                    padding-left: calc(6/12)*1rem;
                    padding-bottom: calc(13/12)*1rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    font-size: calc(24/12)*1rem;

                    &>i {
                        color: #fff;
                        -webkit-text-stroke: 1px black;


                        &:hover {
                            -webkit-text-stroke: 0px;
                            background: linear-gradient(200deg, $primaire 0%, $secondaire 100%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            color: transparent;
                            transition: color 500ms ease-in-out;
                        }
                    }
                }

                //fin de --jaime
            }

            // fin de __infos
        }

        // fin de resto{i}
    }

    // end of  FOR

}

/// LES PAGES DES MENUS DES RESTAURANTS
.restaurant {
    width: 100%;
    margin: 0;

    & .devanture {
        width: 100%;
        height: calc(258/12)*1rem;
        margin: 0;
        overflow: hidden;

        &>img {
            width: 100%;
            height: 105%;
            object-fit: cover;
        }
    }


    & .menu {
        width: 100%;
        position: relative;
        top: calc(-38/12)*1rem;
        background: $bg-rest; // #f6f6f6; 
        margin: 0;
        padding-top: calc(14/12)*1rem;
        padding-bottom: calc(14/12)*1rem;
        padding-left: calc(14/12)*1rem;
        padding-right: calc(12/12)*1rem;
        @include makeradius ("top", 38);


        &__resto {
            width: 100%;
            height: calc(58/12)*1rem;
            background-color: white;
            padding-right: calc(24/12)*1rem;
            margin-top: calc(18/12)*1rem;
            margin-bottom: calc(12/12)*1rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            background: $bg-rest; // #f6f6f6; 
            @include makeradius ("top", 29);
            padding-bottom: calc(18/12)*1rem;

            &--nom {
                color: #101010;
                font-size: calc(28/12)*1rem;
                font-weight: normal;
                padding-left: calc(7/12)*1rem;
                margin-top: calc(18/12)*1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &--jaime {
                position: relative;
                padding-bottom: calc(4/12)*1rem;
                padding-right: calc(3/12)*1rem;


                & .fa-heart {
                    font-size: calc(22/12)*1rem;
                }

                & .fa-solid {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    opacity: 0;
                    background: linear-gradient(200deg, $primaire 0%, $secondaire 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    transition: opacity 333ms ease-in;

                    &:hover {
                        opacity: 1;
                        filter: contrast(1.3);
                    }
                }
            }
        }
// boucle @each sur une liste
@each $service in entree, plat, dessert {
        &__#{$service} {
            width: 100%;
            margin-bottom: calc(36/12)*1rem;


            &__titre {
                padding-left: calc(7/12)*1rem;
                padding-bottom: calc(12/12)*1rem;
                height: calc(40/12)*1rem;
                color: #1f1f1f; // couleur à vérifier
                font-size: calc(16/12)*1rem;
                text-transform: uppercase;
                font-weight: normal;

                /*soulignement du titre  sur 40px */
                &::after {
                    content: "";
                    display: block;
                    width: calc(40/12)*1rem;
                    padding-top: calc(6/12)*1rem;
                    border-bottom: calc(3/12)*1rem solid $tertiaire;
                }
            }

            @for $i from 1 through 3 {
                &-#{$i} {
                    width: 100%;
                    height: calc(68/12)*1rem;
                    margin-bottom: calc(14/12)*1rem;
                    padding-left: calc(12/12)*1rem;
                    background-color: white;
                    @include makeradius ("all", 12);
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    overflow: hidden;
                    box-shadow: calc(7/12)*1rem calc(7/12)*1rem calc(12/12)*1rem #e8e8e8;
                    cursor: pointer;

                    &__recette {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: flex-start;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        &__nom {
                            height: 50%;
                            width: 100%;
                            font-size: calc(17/12)*1rem;
                            font-weight: bold;
                            margin: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding-top: calc(14/12)*1rem;

                        }

                        &__detail {
                            height: 50%;
                            margin: 0;
                            width: 100%;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            align-items: center;
                            overflow: hidden;
                            white-space: nowrap;
                            padding-bottom: calc(6/12)*1rem;

                            &--variante {
                                display: inline-block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                display: inline-block;
                                font-size: calc(15/12)*1rem;
                            }

                            &--prix {
                                width: calc(60/12)*1rem;
                                height: 100%;
                                display: inline-block;
                                font-size: calc(14/12)*1rem;
                                font-weight: bold;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                padding-top: calc(7/12)*1rem;
                                padding-bottom: calc(7/12)*1rem;
                                padding-left: calc(12/12)*1rem;
                                margin-right: 0;
                                margin-left: auto;
                                flex-shrink: 0;
                            }
                        }
                    }

                    &__selectionner {

                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        @include makeradius ("right", 12);
                        background: $tertiaire;
                        width: calc(60/12)*1rem;
                        height: 100%;
                        overflow: hidden;
                        margin-right: calc(-60/12)*1rem;
                        transition:  margin-right 400ms linear;
                        flex-shrink: 0;

                        &>i {
                            font-size: calc(22/12)*1rem;
                            font-weight: bold;
                        }
                    }

                    &:hover {

                        &>div+div {
                            margin-right: 0;
                            transition: margin-right 600ms linear;

                            &>i {
                                animation: rotation-coche 600ms linear;
                            }
                        }
                    }
                }
            }
        }
         /* fin $SERVICE */
     } //fin EACH 
        }
 }

/// fin pages menu


@keyframes rotation-coche {

    0%,
    30% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

/// 
/*
@keyframes translation-coche {
    from {
        transform-origin: right;
        transform: translateX(100%);
    }

    to {
        transform-origin: right;
        transform: translateX(0);
        margin-right: 0;

    }

} */