/// B O X - S I Z I N G
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;

    &::before {
        box-sizing: inherit;
    }

    &::after {
        box-sizing: inherit;
    }

}
/// @keyframes pour fairer apparaitre le body en retard, à la fin de l'animation du loading- spinner
@keyframes body-apparition {

    0%,
    70% {
        opacity: 0;
        display: none;
    }
    70%, 95% {
        opacity: 0.5;
    }

    95%,
    100% {
        opacity: 1;
        display: block;
    }
}
///body
.body {
    width: 100%;
    max-width: 1920px;
    min-width: 300px;
    animation: body-apparition 3000ms linear forwards;
   
}


///main
.main {
    width: 100%;
}


/// link
* a {
    text-decoration: none;
    color: #000;
    cursor: pointer;

    &:active {
        text-decoration: none;

    }

    &:visited {
        text-decoration: none;

    }

    &:link {
        text-decoration: none;

    }

    &:hover {
        text-decoration: none;

    }
}