html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

    @include tablette {
        font-size: 15px;
            }

    ;

    @include ordinateur {
        font-size: 18px;
           }

}

.font-titres {
    font-family: 'Shrikhand', cursive;
}

